.container {
	max-width: 30%;
	max-height: 30%;
	margin: 2%;
	padding: 1%;
	margin: 4% auto;
}
.playerInfo {
	text-align: center;
	align-content: center;
	border-bottom: 2px solid black;
}
#scoreboard {
	display: inline;
}
body {
	
}
header {
	text-align: center;
	border-bottom: 2px solid black;
	margin-bottom: 1%;
	padding: 0 1% 1% 1%;
	margin: 0 auto;
}
li {
	list-style: none;
	display: inline-block;
	padding: 1%;
	margin: 1% auto;

}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  width: 33.333%;
  border: 6px solid #222;
}
td::after {
  content: ''; /* blank content set up */
  display: block;
  margin-top: 100%;
}
td {
  border: 6px solid #222;
}
/*recieved styling help from w3c schools for table locations
*/
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}
.cells:hover {background-color:#f5f5f5;}
#resetButton{
	width: 100%;
	height: auto;
	padding: 2%;
	margin: 1%;
	border-radius: 15px;
	font-size: 2em;
	background-color: red;
}